In [ ]:
from google.colab import drive
drive.mount('/content/drive')

# 3.1 판다스

## 3.1.1 판다스 설치하기

In [ ]:
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
import pandas as pd

pd.__version__

'1.3.5'

## 3.1.2 판다스 데이터프레임 생성하기

In [ ]:
df = pd.DataFrame(
    {
        "job_title": [
            "Data Scientist",
            "Machine Learning Scientist",
            "Big Data Engineer",
            "Machine Learning Engineer",
        ],
        "salary": [70000, 260000, 85000, 20000],
        "salary_currency": ["EUR", "USD", "GBP", "USD"],
        "company_size": ["L", "S", "M", "S"],
    }
)

df

                    job_title  salary salary_currency company_size
0              Data Scientist   70000             EUR            L
1  Machine Learning Scientist  260000             USD            S
2           Big Data Engineer   85000             GBP            M
3   Machine Learning Engineer   20000             USD            S

In [ ]:
df["salary"]

0     70000
1    260000
2     85000
3     20000
Name: salary, dtype: int64

In [ ]:
df["salary"].max()

260000

In [ ]:
df.describe()

              salary
count       4.000000
mean   108750.000000
std    104592.463081
min     20000.000000
25%     57500.000000
50%     77500.000000
75%    128750.000000
max    260000.000000

In [ ]:
salary = pd.Series([70000, 260000, 85000, 20000], name="salary")

salary

0     70000
1    260000
2     85000
3     20000
Name: salary, dtype: int64