In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## 4.3.3 pandas.DataFrame.resample

In [2]:
import pandas as pd
import numpy as np

index = pd.date_range(start="2010-01-01", end="2021-12-31")
data = np.random.randint(0, 100, size=(len(index), 5))

df = pd.DataFrame(data=data, index=index, columns=["Open", "High", "Low", "Close", "Volume"])
df.head()

            Open  High  Low  Close  Volume
2010-01-01    79    39   31     99      24
2010-01-02    78    68   58      4      66
2010-01-03    22    70   53     51      50
2010-01-04    98    44    0     79       3
2010-01-05    78    22   73     44      36

In [3]:
df.groupby([df.index.year]).mean()

           Open       High        Low      Close     Volume
2010  48.712329  48.561644  49.241096  49.367123  51.873973
2011  49.430137  49.534247  51.994521  50.517808  50.276712
2012  48.046448  48.355191  50.863388  52.816940  50.090164
2013  47.687671  49.523288  47.254795  50.600000  47.821918
2014  48.150685  46.252055  49.309589  47.835616  50.104110
2015  48.394521  48.260274  49.027397  51.197260  53.950685
2016  49.158470  50.849727  47.978142  50.125683  49.784153
2017  50.013699  46.947945  46.186301  48.052055  48.531507
2018  48.136986  48.641096  47.328767  52.446575  49.282192
2019  49.567123  50.175342  49.545205  51.739726  52.054795
2020  47.224044  50.658470  50.262295  50.147541  46.407104
2021  48.909589  46.772603  49.684932  48.279452  52.197260

In [4]:
df.groupby([df.index.year, df.index.month]).mean()

              Open       High        Low      Close     Volume
2010 1   57.548387  52.548387  42.161290  50.903226  47.870968
     2   56.750000  47.678571  55.785714  51.428571  55.535714
     3   45.129032  50.967742  39.451613  40.451613  50.096774
     4   52.466667  51.366667  45.666667  50.833333  50.100000
     5   49.387097  53.387097  57.096774  48.516129  50.193548
...            ...        ...        ...        ...        ...
2021 8   44.935484  44.935484  51.612903  46.225806  51.709677
     9   50.833333  36.700000  55.666667  46.933333  51.100000
     10  49.032258  52.193548  52.548387  57.483871  43.483871
     11  53.833333  50.833333  45.300000  58.100000  52.633333
     12  52.516129  48.161290  46.870968  42.741935  49.193548

[144 rows x 5 columns]

In [5]:
# ruleDateOffset, Timedelta or str
# A : year end frequency

df.resample(rule='A').mean().head()

                 Open       High        Low      Close     Volume
2010-12-31  48.712329  48.561644  49.241096  49.367123  51.873973
2011-12-31  49.430137  49.534247  51.994521  50.517808  50.276712
2012-12-31  48.046448  48.355191  50.863388  52.816940  50.090164
2013-12-31  47.687671  49.523288  47.254795  50.600000  47.821918
2014-12-31  48.150685  46.252055  49.309589  47.835616  50.104110

In [6]:
# ruleDateOffset, Timedelta or str
# M : month end frequency

df.resample(rule='M').mean().head()

                 Open       High        Low      Close     Volume
2010-01-31  57.548387  52.548387  42.161290  50.903226  47.870968
2010-02-28  56.750000  47.678571  55.785714  51.428571  55.535714
2010-03-31  45.129032  50.967742  39.451613  40.451613  50.096774
2010-04-30  52.466667  51.366667  45.666667  50.833333  50.100000
2010-05-31  49.387097  53.387097  57.096774  48.516129  50.193548

In [7]:
df.resample(rule='M').min().head()

            Open  High  Low  Close  Volume
2010-01-31     4    15    0      4       3
2010-02-28     4     2    0      0       3
2010-03-31     1     4    2      3       0
2010-04-30     1     1    1      6       3
2010-05-31     1     0    4      4       1

In [8]:
df.resample(rule='M').max().head()

            Open  High  Low  Close  Volume
2010-01-31    98    95   93     99      95
2010-02-28    94    98   96     94      90
2010-03-31    96    96   90     93      98
2010-04-30    95    98   97     99      97
2010-05-31    99    97   96     98      96

In [9]:
df.resample(rule='7D').mean()

                 Open       High        Low      Close     Volume
2010-01-01  63.285714  41.000000  39.857143  57.285714  39.714286
2010-01-08  45.285714  54.142857  37.142857  69.428571  50.142857
2010-01-15  53.857143  67.142857  27.714286  32.857143  40.428571
2010-01-22  68.857143  48.571429  59.714286  45.428571  55.714286
2010-01-29  60.571429  54.714286  47.571429  45.571429  58.857143
...               ...        ...        ...        ...        ...
2021-12-03  63.571429  50.857143  52.857143  38.000000  56.857143
2021-12-10  73.571429  34.428571  56.428571  46.000000  25.285714
2021-12-17  37.571429  51.000000  33.571429  48.714286  60.285714
2021-12-24  50.142857  55.142857  47.428571  38.428571  40.285714
2021-12-31   1.000000  86.000000  51.000000  55.000000  78.000000

[627 rows x 5 columns]

In [10]:
df.resample('12H').mean()

                     Open  High   Low  Close  Volume
2010-01-01 00:00:00  79.0  39.0  31.0   99.0    24.0
2010-01-01 12:00:00   NaN   NaN   NaN    NaN     NaN
2010-01-02 00:00:00  78.0  68.0  58.0    4.0    66.0
2010-01-02 12:00:00   NaN   NaN   NaN    NaN     NaN
2010-01-03 00:00:00  22.0  70.0  53.0   51.0    50.0
...                   ...   ...   ...    ...     ...
2021-12-29 00:00:00  35.0  42.0  75.0   70.0    48.0
2021-12-29 12:00:00   NaN   NaN   NaN    NaN     NaN
2021-12-30 00:00:00  65.0  83.0  34.0    5.0    13.0
2021-12-30 12:00:00   NaN   NaN   NaN    NaN     NaN
2021-12-31 00:00:00   1.0  86.0  51.0   55.0    78.0

[8765 rows x 5 columns]

In [11]:
df.resample('12H').pad().head(6)

                     Open  High  Low  Close  Volume
2010-01-01 00:00:00    79    39   31     99      24
2010-01-01 12:00:00    79    39   31     99      24
2010-01-02 00:00:00    78    68   58      4      66
2010-01-02 12:00:00    78    68   58      4      66
2010-01-03 00:00:00    22    70   53     51      50
2010-01-03 12:00:00    22    70   53     51      50

In [12]:
df.resample('12H').bfill().head(6)

                     Open  High  Low  Close  Volume
2010-01-01 00:00:00    79    39   31     99      24
2010-01-01 12:00:00    78    68   58      4      66
2010-01-02 00:00:00    78    68   58      4      66
2010-01-02 12:00:00    22    70   53     51      50
2010-01-03 00:00:00    22    70   53     51      50
2010-01-03 12:00:00    98    44    0     79       3